<form action="/search" method="post">
    <input class="form-control" type="text" placeholder="TV Show Title" name="searchTerm">
    <button id="submitButton" class="btn btn-outline-success" type="submit">Search</button>
</form>