nav {
    background-color: #3F00FF;
    color: white;
    padding: 20px;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.search-box {
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding:  10px 10px 10px 6px;
}

.search-box > input {
    flex: 1;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
}

.search-box > input:focus {
    outline: none;
    border: none;
    border-radius: 25px;
}

.search-box > button {
    background-color: white;
    border: none;
    outline: none;
}

.search-category {
    padding-left: 6px;
    border-left: 4px solid #3F00FF;
    line-height: 1.9rem;
}

.display-area {
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 10px;
    margin-left: 2px;
}


.tvCard {
    margin: 12px ;
    max-width: 225px;
    padding: 0px;
    /* border: 2px rgb(22, 22, 20) solid; */
    text-align: center;
    overflow: hidden;
    transition: 500ms all;
    

}

.element-with-overlay {
    position: relative;
    max-width: 225px;
    max-height: 330px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Transparent background by default */
    opacity: 0; /* Start with opacity 0 (fully transparent) */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
    border-radius: 20px;
}

.element-with-overlay:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    opacity: 1; /* Full opacity on hover */
}

.element-with-overlay:hover .search-icon {
    display: inline;
    
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.search-image {
    width: 225px;
    height: 330px;
    border-radius: 20px;
}

.show-name {
    margin-top: 7px;
    text-decoration: none;
    color: #333;
}


/* Show / Movie Display page */

#page {
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
    background: linear-gradient(320deg, rgba(0,0,0,1) 0%, rgba(255,192,0,1) 100%);
}

#title-header {
    padding-top: 20px;
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 35px;
}
  
.average-rating::before {
    --percent: calc(2/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-image {
    max-width: 330px;
    max-height: 475px;
    /* border-radius: 20px; */
}

#more-videos {
    background-color: #333;
}