/* landing (home) page */
#background {
    background: url("https://images.unsplash.com/photo-1543235074-4768b5c2233c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80") ;
    background-attachment: fixed;
    /* https://images.unsplash.com/photo-1595406236320-a9aa2a54a00e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    opacity: 1;
}



#landing-message {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    width: 100%;
    padding: 0 1rem ;
}


@media (max-width: 577px) {
    #landing-message > h1 {
        font-size: 2rem;
    }
}

@media (min-width: 577px) {
    #landing-message > h1 {
        font-size: 4rem;
    }
}

.contact-button {
    --color: rgb(255, 251, 0);
    /* background-color: yellow; */
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid var(--color);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    position: relative;
    isolation: isolate;
    font-size: 1.2rem;
    font-weight: bolder;
}

.contact-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--color);
    inset: 0;
    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
}

.contact-button:hover {
    color: #121212;
    font-weight: bolder;
}

.contact-button:hover::after,
.contact-button:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
}


/* navbar */
nav {
    background-color: #121212;
    color: white;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav span {
    margin-left: 5px;
}



.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

#navbar-searchbox {
    margin-left: 15px;
    /* margin-right: auto; */
    /* width: 400px; */
}

@media (max-width: 500px) {
    #navbar-container {
        justify-content: center;
    }
}

.search-box {
    background-color: white;
    height: 60px;
    /* width: 50%; */
    /* border-radius: 30px; */
    /* border: 9px solid yellow; */
    display: flex;
    align-items: center;
    padding:  0 25px;
    border-radius: 50px;
    transition: 0.3s ease-out;
}

.search-box > input {
    flex: 1;
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}

.search-box:focus-within, .search-box:hover {
    border: 4px solid #ffd52d;
}

.search-box > input::placeholder {
    color: black;
    font-weight: 400;
}

.search-box > button {
    background-color: white;
    border: none;
    outline: none;
}

.search-category {
    padding-left: 6px;
    border-left: 4px solid black;
    line-height: 1.9rem;
}

.display-area {
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 10px;
    /* margin-left: 2px; */
}


.tvCard {
    /* margin: 12px ; */
    max-width: 225px;
    /* padding: 0px; */
    /* border: 2px rgb(22, 22, 20) solid; */
    text-align: center;
    /* overflow: hidden; */
    transition: 500ms all;
}

.element-with-overlay {
    position: relative;
    /* max-width: 225px; */
    /* max-height: 330px; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Transparent background by default */
    opacity: 0; /* Start with opacity 0 (fully transparent) */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
    border-radius: 20px;
}

.element-with-overlay:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    opacity: 1; /* Full opacity on hover */
}

.element-with-overlay:hover .search-icon {
    display: inline;
    
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.search-image {
    width: 225px;
    height: 330px;
    border-radius: 20px;
}

.show-name {
    margin-top: 7px;
    text-decoration: none;
    color: #333;
}


/* Show / Movie Display page */

#page {
    /* height: 100vh;
    width: 100vw; */
    background: rgb(0,0,0);
    background: #121212;
    padding-bottom: 2rem;
    transition: 1s ease-in-out;
}

#title-header {
    padding-top: 20px;
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 35px;
}
  
.average-rating::before {
    --percent: calc(2/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-image {
    max-width: 330px;
    max-height: 475px;
    /* border-radius: 20px; */
}

#more-videos {
    background-color: #333;
}


.genres-buttons {
    background: none;
    border-radius: 30px;
    outline: none;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: 4px 10px;
    color: white;
}

.genres-buttons:hover {
    background-color: rgba(255, 255, 255, 0.215);
}

h3 svg {
    background: none;
    margin: 0;
    padding: 0;
}

#cast {
    margin-left: 0;
}

.cast-person {
    display: inline-block;
    padding: 0;
    border: 0;
    transition: 0.3s all ease-in-out;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.cast-person:hover {
    background-color: #e6e6ef;
}

.cast-person img {
    width: 130px;
    height:  130px;
    border-radius: 50px;
}

.episodes-list {
    position: relative;

}

.episode-airdate {
    font-size: 0.93rem;
}

/* .episode:nth-of-type(even) {
    background-color: #cfe2ff;
}  */


#carousel img {
    max-width: 1000px;
    max-height: 500px;
}

.crew {
    border-top: 1px white solid;
    padding-top: 10px;
}

#crew {
    margin-right: 10px;
}

.crew-member {
    margin-right: 10px;
    
}

.crew-member a {
    text-decoration: none;
    color: white;
}

.crew-member a:hover {
    color: rgb(228, 215, 215);
}

.dot {
    text-align: center; /* Center-align the text within the paragraph */
    line-height: 30px;
    margin-right: 10px;
}






footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


footer div {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
font-size: 14px;
margin: 0;
}

/* Style the navigation links */
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

footer a:hover {
    color: #ff9800;
}
